name: Tests

env:
  GEF_CI_NB_CPU: 1

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, arm64]
        os: [ubuntu-24.04, ubuntu-22.04, fedora-42, fedora-43, fedora-rawhide]
        include:
          - os: ubuntu-24.04
            base_image: ubuntu:24.04
          - os: ubuntu-22.04
            base_image: ubuntu:22.04
          - os: fedora-42
            base_image: fedora:42
          - os: fedora-43
            base_image: fedora:43
          - os: fedora-rawhide
            base_image: fedora:rawhide

    name: "Run Unit tests on ${{ matrix.os }} (${{ matrix.arch }})"
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Create Dockerfile
      run: .github/tests/setup-dockerfile.sh ${{ matrix.base_image }}

    - name: Build container image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: false
        load: true
        tags: gef-test:${{ matrix.os }}-${{ matrix.arch }}
        cache-from: type=gha,scope=${{ matrix.os }}-${{ matrix.arch }}
        cache-to: type=gha,mode=max,scope=${{ matrix.os }}-${{ matrix.arch }}

    - name: Run tests in container
      run: .github/tests/run-tests.sh ${{ matrix.os }}-${{ matrix.arch }}
