name: Validation

on:
  pull_request:
    branches:
      - main

jobs:
  pre_commit:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.1
    - uses: actions/setup-python@v6.2.0
      with:
        python-version: "3.10"
    - uses: pre-commit/action@v3.0.1

  docs_link_check:
    name: Check URLs in docs
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1
      - name: Restore lychee cache
        id: restore-cache
        uses: actions/cache/restore@v4
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-
      - name: Check links
        uses: lycheeverse/lychee-action@v2.7.0
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          args: --exclude-mail --accept=401 --no-progress --exclude 'https://cs.github.com/hugsy/gef\?q=.*' '**/*.md'
          fail: false
          workingDirectory: docs/
      - name: Save lychee cache
        uses: actions/cache/save@v4
        if: always()
        with:
          path: .lycheecache
          key: ${{ steps.restore-cache.outputs.cache-primary-key }}
